<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Цикличность действий, кейс accenture</title>
</head>
<body>
<h3 align="center">Цикличность действий, кейс accenture</h3>
<h2>Самые активные акции</h2>
<br>
<table align="center">
    <tr bgcolor="8888ee">
        <td>Название</td>
        <td>Последняя цена</td>
        <td>Макс цена</td>
        <td>Мин цены</td>
        <td>Изм-е</td>
        <td>Изм-е в %</td>
        <td>Объем</td>
        <td>Время</td>
        <td>График акций</td>
    </tr>
  {% for line in data %}
    <tr id="block" class="block">
        <td><a href="/accenture/stock/{{ line.data_id }}&{{ line.name }}&{{ line.short_link }}">{{ line.name }}</a></td>
        <td>{{ line.last }}</td>
        <td>{{ line.max_price }}</td>
        <td>{{ line.min_price }}</td>
        <td>{{ line.change }}</td>
        <td>
            {% if line.alarm == 1 %}
            <font color="green">
                <strong>
            {% endif %}
            {% if line.alarm == 2 %}
            <font color="red">
                <strong>
            {% endif %}
            {{ line.perc_change }}
            {% if line.alarm > 0 %}
                </font></strong>
            {% endif %}
        </td>
        <td>{{ line.amount }}</td>
        <td>{{ line.data_time }}</td>
        <td><a href="stats{{ line.link }}">Статистики компании</a></td>
    </tr>
  {% endfor %}
</table>


<script>
for (var i = 0; i<document.getElementsByClassName("block").length; i++) {
console.log(i);
document.getElementsByClassName("block")[i].onmouseover = function() {
    this.style.backgroundColor = "#aaeeaa";
}
document.getElementsByClassName("block")[i].onmouseleave = function() {
    this.style.backgroundColor = "";
}
<!--document.getElementsByClassName("block")[i].onclick = function() {-->
<!--console.log(location.href + "stats{{ line.link }}");-->
<!--    location.href = location.href + "stats{{ line.link }}";-->
<!--}-->
}
</script>
</body>
</html>